<%
  hex = Static::ViewHelpers.circuit_hex(circuit["color"])
  text_col = Static::ViewHelpers.circuit_text_color(circuit["color"])
%>

<div class="max-w-7xl mx-auto pt-6 sm:px-6 lg:px-8">
  <div class="px-4 sm:px-0">
    <%= Static::ViewHelpers.breadcrumb(["Fontainebleau", "/en/fontainebleau"], [area["name"], "/en/fontainebleau/#{area["slug"]}"]) %>
  </div>
</div>

<div class="max-w-7xl mx-auto sm:px-6 lg:px-8 pb-8">
  <div class="md:grid md:grid-cols-2 md:gap-16 mb-4">
    <div class="col-span-1">
      <div>
        <h1 class="text-3xl font-bold mb-4 mt-2 px-4 sm:px-0">
          Circuit <%= circuit["color"].capitalize %>
        </h1>

        <%- if circuit["beginner_friendly"] -%>
          <span class="flex mb-2 px-4 sm:px-0">
            <span class="text-emerald-500 mr-2"><%= Static::ViewHelpers::ICON_BEGINNER %></span>
            <span class="text-emerald-500">Beginner friendly</span>
          </span>
        <%- end -%>

        <%- if circuit["dangerous"] -%>
          <span class="flex mb-2 px-4 sm:px-0">
            <span class="text-red-500 mr-2"><%= Static::ViewHelpers::ICON_DANGER %></span>
            <span class="text-red-500">Dangerous</span>
          </span>
        <%- end -%>

        <ul role="list" class="pt-2">
          <%- problems.each do |problem| -%>
            <%
              problem_slug = Static::ViewHelpers.problem_slug(problem)
              area_slug = problem["_area_slug"] || area["slug"]
            %>
            <li class="px-4 sm:-mx-2 sm:px-2 hover:bg-gray-50 dark:hover:bg-gray-800 rounded-lg">
              <a href="/en/fontainebleau/<%= area_slug %>/<%= problem_slug %>">
                <div class="flex justify-between py-2">
                  <div>
                    <%- if problem["circuit_number"] -%>
                      <%= Static::ViewHelpers.circuit_badge(circuit["color"], problem["circuit_number"], size: :dot) %>
                    <%- else -%>
                      <span class="inline-flex items-center justify-center w-6 h-6 rounded-full bg-gray-200 dark:bg-gray-700 text-xs">&nbsp;</span>
                    <%- end -%>
                    <span class="ml-2"><%= problem["name"] %></span>
                  </div>
                  <div>
                    <div class="flex space-x-2">
                      <%- if problem["featured"] -%>
                        <div class="text-red-400"><%= Static::ViewHelpers::ICON_HEART %></div>
                      <%- end -%>
                      <div class="text-gray-500 dark:text-gray-400">
                        <%= problem["grade"] %>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          <%- end -%>
        </ul>
      </div>
    </div>
  </div>
</div>
