<%
  hex = Static::ViewHelpers.circuit_hex(circuit["color"])
  text_col = Static::ViewHelpers.circuit_text_color(circuit["color"])
%>

<div class="container" style="padding-top:1.5rem;">
  <div class="inner">
    <%= Static::ViewHelpers.breadcrumb(["Fontainebleau", "/en/fontainebleau"], [area["name"], "/en/fontainebleau/#{area["slug"]}"]) %>
  </div>
</div>

<div class="container" style="padding-bottom:2rem;">
  <div class="two-col-md">
    <div>
      <div>
        <h1 class="page-title inner">
          Circuit <%= circuit["color"].capitalize %>
        </h1>

        <%- if circuit["beginner_friendly"] -%>
          <span class="circuit-alert inner">
            <span class="icon-success"><%= Static::ViewHelpers::ICON_BEGINNER %></span>
            <span class="icon-success">Beginner friendly</span>
          </span>
        <%- end -%>

        <%- if circuit["dangerous"] -%>
          <span class="circuit-alert inner">
            <span class="icon-danger"><%= Static::ViewHelpers::ICON_DANGER %></span>
            <span class="icon-danger">Dangerous</span>
          </span>
        <%- end -%>

        <ul role="list" style="padding-top:0.5rem;">
          <%- problems.each do |problem| -%>
            <%
              problem_slug = Static::ViewHelpers.problem_slug(problem)
              area_slug = problem["_area_slug"] || area["slug"]
            %>
            <li class="list-item">
              <a href="/en/fontainebleau/<%= area_slug %>/<%= problem_slug %>">
                <div class="circuit-problem-row">
                  <div>
                    <%- if problem["circuit_number"] -%>
                      <%= Static::ViewHelpers.circuit_badge(circuit["color"], problem["circuit_number"], size: :dot) %>
                    <%- else -%>
                      <span class="badge--empty-dot">&nbsp;</span>
                    <%- end -%>
                    <span class="circuit-problem-name"><%= problem["name"] %></span>
                  </div>
                  <div class="circuit-problem-right">
                    <%- if problem["featured"] -%>
                      <div class="icon-heart"><%= Static::ViewHelpers::ICON_HEART %></div>
                    <%- end -%>
                    <div class="circuit-list-grade"><%= problem["grade"] %></div>
                  </div>
                </div>
              </a>
            </li>
          <%- end -%>
        </ul>
      </div>
    </div>
  </div>
</div>
