<%
  hex = Static::ViewHelpers.circuit_hex(circuit["color"])
  text_col = Static::ViewHelpers.circuit_text_color(circuit["color"])
%>

<div class="container pt-6">
  <div class="inner">
    <%= Static::ViewHelpers.breadcrumb(["Fontainebleau", "/en/fontainebleau"], [area["name"], "/en/fontainebleau/#{area["slug"]}"]) %>
  </div>
</div>

<div class="container pb-8">
  <div class="two-col-md mb-4">
    <div>
      <div>
        <h1 class="page-title mb-4 mt-2 inner">
          Circuit <%= circuit["color"].capitalize %>
        </h1>

        <%- if circuit["beginner_friendly"] -%>
          <span class="flex mb-2 inner">
            <span class="icon-success mr-2"><%= Static::ViewHelpers::ICON_BEGINNER %></span>
            <span class="icon-success">Beginner friendly</span>
          </span>
        <%- end -%>

        <%- if circuit["dangerous"] -%>
          <span class="flex mb-2 inner">
            <span class="icon-danger mr-2"><%= Static::ViewHelpers::ICON_DANGER %></span>
            <span class="icon-danger">Dangerous</span>
          </span>
        <%- end -%>

        <ul role="list" class="pt-2">
          <%- problems.each do |problem| -%>
            <%
              problem_slug = Static::ViewHelpers.problem_slug(problem)
              area_slug = problem["_area_slug"] || area["slug"]
            %>
            <li class="list-item">
              <a href="/en/fontainebleau/<%= area_slug %>/<%= problem_slug %>">
                <div class="flex justify-between py-2">
                  <div>
                    <%- if problem["circuit_number"] -%>
                      <%= Static::ViewHelpers.circuit_badge(circuit["color"], problem["circuit_number"], size: :dot) %>
                    <%- else -%>
                      <span class="badge--empty-dot">&nbsp;</span>
                    <%- end -%>
                    <span class="ml-2"><%= problem["name"] %></span>
                  </div>
                  <div>
                    <div class="flex space-x-2">
                      <%- if problem["featured"] -%>
                        <div class="text-red-400"><%= Static::ViewHelpers::ICON_HEART %></div>
                      <%- end -%>
                      <div class="text-muted"><%= problem["grade"] %></div>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          <%- end -%>
        </ul>
      </div>
    </div>
  </div>
</div>
