<%
  hex = Static::ViewHelpers.circuit_hex(circuit["color"])
%>
<li class="list-item">
  <a href="/en/fontainebleau/circuits/<%= circuit["id"] %>" class="flex justify-between items-center">
    <div class="list-item-inner">
      <div>
        <span class="circuit-dot" style="background-color: <%= hex %>;"></span>
        <span class="ml-2">Circuit <%= circuit["color"].capitalize %></span>
        <%- if defined?(show_area) && show_area && circuit["main_area_name"] -%>
          <span class="ml-2 text-faint"><%= circuit["main_area_name"] %></span>
        <%- end -%>
      </div>
    </div>
    <span class="flex">
      <%= Static::ViewHelpers.circuit_status_icons(circuit) %>
      <span class="text-muted"><%= circuit["average_grade"] %></span>
    </span>
  </a>
</li>
