<%
  slug = Static::ViewHelpers.problem_slug(problem)
  url = "/en/fontainebleau/#{area_slug}/#{slug}"
%>
<li class="list-item">
  <a href="<%= url %>">
    <div class="list-item-inner">
      <div>
        <span><%= problem["name"] %></span>
        <span class="problem-grade-inline"><%= problem["grade"] %></span>
      </div>
      <div class="meta-row">
        <%- if problem["popularity"].to_i > 0 -%>
          <%= Static::ViewHelpers.metadata_badge(problem["popularity"], icon: "&#9733;") %>
        <%- end -%>
        <%- if problem["steepness"] -%>
          <%= Static::ViewHelpers.metadata_badge(Static::ViewHelpers::STEEPNESS_LABELS[problem["steepness"]] || problem["steepness"]) %>
        <%- end -%>
        <%- if problem["circuit_color"] -%>
          <%= Static::ViewHelpers.circuit_badge(problem["circuit_color"], problem["circuit_number"]) %>
        <%- end -%>
      </div>
    </div>
  </a>
</li>
