<div class="container page-section">
  <h1 class="page-title inner">Fontainebleau</h1>
</div>

<div class="container page-section--bottom">
  <div>
    <div>
      <h2 class="section-title inner">Areas</h2>

      <div class="area-list-card">
        <ul role="list" class="area-list">
          <%- areas.each do |area| -%>
            <li>
              <a href="/en/fontainebleau/<%= area["slug"] %>" class="area-list-item">
                <div class="area-list-item-inner">
                  <p class="area-name">
                    <%= area["name"] %>
                    <span class="grade-cells-inline">
                      <%- 1.upto(8) do |level| -%>
                        <%- count = area["level#{level}_count"] || 0 -%>
                        <span class="grade-cell <%= count >= 20 ? 'grade-cell--active' : 'grade-cell--inactive' %>"><%= level %></span>
                      <%- end -%>
                    </span>
                  </p>
                  <div class="area-count">
                    <span><%= area["problems_count"] %></span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                    </svg>
                  </div>
                </div>
              </a>
            </li>
          <%- end -%>
        </ul>
      </div>
    </div>
  </div>
</div>
